@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'prism.css';
@import 'nprogress.css';
@import 'ads.css';
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/* Import arcade font */
@font-face {
  font-family: "Press Start 2P";
  src: url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
  font-display: swap;
}

@font-face {
  font-family: "Press Start 2P";
  src: url("/fonts/PressStart2P-Regular.ttf") format("truetype");
  font-display: swap;
}

/* Base styles */
html {
  font-size: 16px;
  padding: 0px !important;
  overflow-x: hidden;
  scroll-padding-top: 64px;
}

body {
  min-height: 100vh;
  font-family: Inter, sans-serif; /* Reverting to default font */
  background-color: white; /* Default background */
  color: black; /* Default text color */
}

/* Arcade-Specific Styles Scoped to `.arcade-container` */
.arcade-container {
  font-family: "Press Start 2P", monospace;
  background-color: black;
  color: #00ff00; /* Neon green */

  .arcade-border {
    border: 2px solid #00ff00;
    box-shadow: 0 0 10px #00ff00;
  }

  .arcade-text {
    color: #00ff00;
    text-transform: uppercase;
  }

  .arcade-text-glow {
    text-shadow: 0 0 5px #00ff00, 0 0 10px #00ff00;
    animation: flicker 1.5s infinite;
  }

  @keyframes flicker {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0.8;
    }
  }
}

/* Utilities and Experimental Styles */
@layer utilities {
  .step {
    counter-increment: step;
  }

  .step:before {
    @apply absolute w-7 h-7 bg-default-100 rounded-full font-medium text-center text-base inline-flex items-center justify-center -indent-px;
    @apply ml-[-41px];
    content: counter(step);
  }
}

/* Responsive fixes for smaller screens */
@media screen and (max-width: 640px) {
  #app-container {
    height: 100vh;
    overflow-x: hidden;
  }
}
